.container {
	width:410px;
	margin: auto;
}
li {
	list-style: none;
	margin: auto;
	text-align: center;
}
hr {
	width: 400px;
}
textarea {
	height:300px;
	width:400px;
	border: none;
	outline: none;
	margin:auto;
	width:400px;
}
.expand {
	display: none;
}
section {
	width:400px;
	text-align:center;
}
.container .content {
    display: none;
    padding : 5px;
}
